
<h1 id="title" class="title">Register</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" [formGroup]="professionalRegisterForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-name">Full name:</label>
    <input nbInput formControlName = "fullname" id="input-name" name="fullName" placeholder="Full name" autofocus fullWidth  fieldSize="large">
    <span *ngIf="(fvalue.fullname.invalid)  && fvalue.fullname.touched || fvalue.fullname.dirty">
      <span *ngIf="fvalue.fullname.errors?.required" class="caption status-danger">
        Full name is required!
      </span>
    </span>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput formControlName="emailId" id="input-email" name="email" placeholder="Email address" fullWidth fieldSize="large" required>
    <span *ngIf="(fvalue.emailId.invalid) && (fvalue.emailId.touched || fvalue.emailId.dirty)">
      <span *ngIf="fvalue.emailId.errors?.required" class="caption status-danger">
        Email name is required!
      </span>
      <span *ngIf="fvalue.emailId.errors?.email" class="caption status-danger">
        Please enter correct emailId
      </span>
    </span>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput formControlName="password" type="password" id="input-password" name="password" placeholder="Password" fullWidth fieldSize="large">
    <span *ngIf="fvalue.password.invalid && (fvalue.password.touched || fvalue.password.dirty)">
      <span *ngIf="fvalue.password.errors?.required" class="caption status-danger">
        Password  is required!
      </span>
    </span>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input nbInput formControlName="repeatPassword" type="password" id="input-re-password" name="rePass" placeholder="Confirm Password" fullWidth fieldSize="large">
    <div *ngIf="fvalue.repeatPassword.invalid && (fvalue.repeatPassword.touched || fvalue.repeatPassword.dirty)">
      <div *ngIf="fvalue.repeatPassword.errors?.required" class="caption status-danger">
        Repeat Password  is required!
      </div>
  </div>
  <div class="caption status-danger" *ngIf="(fvalue.repeatPassword.touched || fvalue.repeatPassword.dirty) && professionalRegisterForm.hasError('mismatchedPasswords')">
      Passwords do not match
    </div>

  </div>



  <div class="form-control-group">
    <label class="label" for="input-experience">Experience</label>
    <input nbInput formControlName="experience" id="input-experience" name="experience" pattern="[0-99]" placeholder="Experience" fullWidth fieldSize="large">
    <span *ngIf="fvalue.experience.invalid && (fvalue.experience.touched || fvalue.experience.dirty)">
      <span *ngIf="fvalue.experience.errors?.required" class="caption status-danger">
        Experience is required!
      </span>
      <span *ngIf="fvalue.experience.errors?.pattern" class="caption status-danger">
        Experience should be a number!
      </span>
    </span>
  </div>



  <!-- <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
    <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
      Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
    </nb-checkbox>
  </div>
 -->
  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !professionalRegisterForm.valid"
          [class.btn-pulse]="submitted">
    Next
  </button>
</form>

<!-- <section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
    </ng-container>
  </div>
</section> -->

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="/auth/login">Log in</a>
</section>
