<div  class="swiper-container p-0" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="img-fluid" src="http://st.ourhtmldemo.com/new/Crystalo/images/projects/project-single/image-gallery-1.jpg" alt="Awesome Image">
      </div>
      <div class="swiper-slide">
        <img class="img-fluid" src="http://st.ourhtmldemo.com/new/Crystalo/images/projects/project-single/image-gallery-1.jpg" alt="Awesome Image">
      </div>
      <div class="swiper-slide">
        <img class="img-fluid" src="http://st.ourhtmldemo.com/new/Crystalo/images/projects/project-single/image-gallery-1.jpg" alt="Awesome Image">
      </div>
      <div class="swiper-slide">
        <img class="img-fluid" src="http://st.ourhtmldemo.com/new/Crystalo/images/projects/project-single/image-gallery-1.jpg" alt="Awesome Image">
      </div>
      <div class="swiper-slide">
        <img class="img-fluid" src="http://st.ourhtmldemo.com/new/Crystalo/images/projects/project-single/image-gallery-1.jpg" alt="Awesome Image">
      </div>
      <div class="swiper-slide">
        <img class="img-fluid" src="http://st.ourhtmldemo.com/new/Crystalo/images/projects/project-single/image-gallery-1.jpg" alt="Awesome Image">
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
