.header-straight-line{
  display: flex;
}

nb-layout-column{
  padding: 0rem !important;
}
app-home-page-header{
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

