
// .dropdown-sort{
//     margin-left: 3%;
// }

.filter-text-top{
    font-weight: 600;
}

:host {
    display: block;
    padding-bottom: 5rem;
  }

// .body-card-filter{
//     margin: 4%;
// }

  :host {
    display: block;
    max-height: 25rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }

//   .tiny{
//       margin:2%;
//   }

.default-card-margin{
    margin-top: 1%;
}

.button-dropdown-filter{
    margin:1%;
}


  .how-it-works-card{
      margin:2%;
  }

  .step-description{
    font-weight: 700;
  }

  
  .professional-image{
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 7px;
    width: 90%;
    padding: auto;
    display: block;
    height: auto;
    position: relative;
    max-width: 150px;
    margin-top: 6%;
  }