<div  class="swiper-container p-0" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-project-card></app-project-card>
        <div class="layer">
          <button nbButton size="giant" status="warning"
          [routerLink]="['/professional-dashboard/projectid']" routerLinkActive="router-link-active"
          >
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <app-project-card></app-project-card>
        <div class="layer">
          <button nbButton size="giant" status="warning"
          [routerLink]="['/professional-dashboard/projectid']" routerLinkActive="router-link-active"
          >
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <app-project-card></app-project-card>
        <div class="layer">
          <button nbButton size="giant" status="warning"
          [routerLink]="['/professional-dashboard/projectid']" routerLinkActive="router-link-active"
          >
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <app-project-card></app-project-card>
        <div class="layer">
          <button nbButton size="giant" status="warning"
          [routerLink]="['/professional-dashboard/projectid']" routerLinkActive="router-link-active"
          >
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <app-project-card></app-project-card>
        <div class="layer">
          <button nbButton size="giant" status="warning"
          [routerLink]="['/professional-dashboard/projectid']" routerLinkActive="router-link-active"
          >
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <app-project-card></app-project-card>
        <div class="layer">
          <button nbButton size="giant" status="warning"
          [routerLink]="['/professional-dashboard/projectid']" routerLinkActive="router-link-active"
          >
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
