
<h1 id="title" class="title">Register</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" [formGroup]="professionalRegisterForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-degree">Degree/Certification:</label>
    <input nbInput formControlName = "degree" id="input-degree" name="degree" placeholder="Degree/Certification" autofocus fullWidth  fieldSize="large">
    <div *ngIf="(fvalue.degree.invalid)  && fvalue.degree.touched || fvalue.degree.dirty">
      <span *ngIf="fvalue.degree.errors?.required" class="caption status-danger">
        Please enter your education!
      </span>
    </div>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-phn">Contact Number:</label>
    <input nbInput formControlName = "phnNumber" id="input-phnNumber" name="phnNumber" placeholder="Phone Number" autofocus fullWidth  fieldSize="large">
    <div *ngIf="(fvalue.phnNumber.invalid)  && fvalue.phnNumber.touched || fvalue.phnNumber.dirty">
      <span *ngIf="fvalue.phnNumber.errors?.required" class="caption status-danger">
        Please enter your phone Number!
      </span>
      <span *ngIf="fvalue.phnNumber.errors?.pattern" class="caption status-danger">
        Please enter a valid phoneNumber!
      </span>
    </div>
  </div>


  <div class="form-control-group">
    <label class="label" for="input-intro">Tell Us About Yourself:</label>
    <textarea nbInput fullWidth formControlName = "about" id="input-about" name="about" placeholder="About Yourself" autofocus fullWidth  fieldSize="large"></textarea>
    <div *ngIf="(fvalue.about.invalid)  && fvalue.about.touched || fvalue.about.dirty">
      <span *ngIf="fvalue.about.errors?.required" class="caption status-danger">
        Please introduce yourself and your work experience!
      </span>
    </div>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-file">Upload your profile picture:</label>
    <input type="file"  nbInput fullWidth formControlName = "fileProfilePic" id="input-image" name="input-image"  autofocus fullWidth  fieldSize="large">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-file">Upload your background Image:</label>
    <input type="file" nbInput fullWidth formControlName = "fileBackgroundImage" id="input-image" name="input-image"  autofocus fullWidth  fieldSize="large">
  </div>


  <div class="form-control-group">
    <label class="label" for="input-name">FaceBook Link:</label>
    <input nbInput formControlName = "fbLink" id="input-fbLink" name="fbLink" placeholder="facebook link" autofocus fullWidth  fieldSize="large">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-name">Instagram Link:</label>
    <input nbInput formControlName = "instaLink" id="input-instaLink" name="instaLink" placeholder="Instagram link" autofocus fullWidth  fieldSize="large">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-name">LinkedIn Link:</label>
    <input nbInput formControlName = "linkedInLink" id="input-linkedInLink" name="linkedInLink" placeholder="linkedInLink link" autofocus fullWidth  fieldSize="large">
  </div>


  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !professionalRegisterForm.valid"
          [class.btn-pulse]="submitted">
    Next
  </button>
</form>


<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="/auth/login">Log in</a>
</section>
