<div  class="swiper-container p-0" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-review-card></app-review-card>
      </div>
      <div class="swiper-slide">
        <app-review-card></app-review-card>
      </div>
      <div class="swiper-slide">
        <app-review-card></app-review-card>
      </div>
      <div class="swiper-slide">
        <app-review-card></app-review-card>
      </div>
      <div class="swiper-slide">
        <app-review-card></app-review-card>
      </div>
      <div class="swiper-slide">
        <app-review-card></app-review-card>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
