<nb-card>
    <nb-card-body class="p-0">
      <div class="card user-card">
        <div class="card-block">
          <div class="user-image">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">
          </div>
          <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
          <blockquote class="otro-blockquote">
            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while. That's because they were able to connect experiences they've had and synthesize new things.
          </blockquote>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
