<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 default-card-margin">
          <nb-card>
              <nb-card-body>
                  <div>
                      <h1 class="work-title">How it works?</h1>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div>
                              <p class="icon-fontawesome"><span  class="fa fa-user-o fontawesome-how" aria-hidden="true"></span></p>
                          </div>
                          <div>
                          <p class="step-description">Step 1</p>
                          <p class="step-how">Select the professional of your choice for your interior needs from Urbify.</p>
                          </div>

                      </div>
                      <div class="col-md-4">
                          <div >
                          <p class="icon-fontawesome"><span  class="fa fa-handshake-o fontawesome-how" aria-hidden="true"></span></p>
                          </div>
                          <div>
                              <p class="step-description">Step 2</p>
                              <p class="step-how">Connect with the professional through Urbify and finalise the deal.</p>
                          </div>
                </div>
                      <div class="col-md-4">
                          <div >
                              <p class="icon-fontawesome"><span  class="fa fa-star fontawesome-how" aria-hidden="true">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </span>
                          </p>
                          </div>
                          <div>
                              <p class="step-description">Step 3</p>
                          <p class="step-how">Get your work done and rate/comment the professional on the basis of his/her service!</p>
                          </div>
                      </div>
                  </div>
              </nb-card-body>
          </nb-card>
      </div>
  </div>
</div>
