.filter-text-top{
  font-weight: 600;
}

:host {
  display: block;
  padding-bottom: 5rem;
}

:host {
  display: block;
  max-height: 25rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}


.default-card-margin{
  margin-top: 1%;
}

.button-dropdown-filter{
  margin:1%;
}

.step-description{
  font-weight: 700;
  text-align: center;
}

.work-title{
  text-align: center;
  font-weight: 500;
}

.fontawesome-how{
    text-align: center;
    display: inline-block;
    font-size: 2rem;
}
.icon-fontawesome{
    text-align: center;
}

.tiny{
  height: 89.5% !important;
}
.step-how{
  text-align: center;
}
