<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <nb-card>
        <nb-card-body class="p-0">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">
              </div>
              <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
              <p class="text-muted">Small discription about User here.. Lorem Ipsum is simply dummy text of the professionals.</p>
              <hr>
              <ul class="list-unstyled activity-leval">
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
              </ul>
              <div class="counter-block m-t-10">
                <button nbButton fullWidth size="large" shape="round" status="success">View Profile</button>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-md-4">
      <nb-card>
        <nb-card-body class="p-0">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">
              </div>
              <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
              <p class="text-muted">Small discription about User here.. Lorem Ipsum is simply dummy text of the professionals.</p>
              <hr>
              <ul class="list-unstyled activity-leval">
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
              </ul>
              <div class="counter-block m-t-10">
                <button nbButton fullWidth size="large" shape="round" status="success">View Profile</button>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-md-4">
      <nb-card>
        <nb-card-body class="p-0">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">
              </div>
              <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
              <p class="text-muted">Small discription about User here.. Lorem Ipsum is simply dummy text of the professionals.</p>
              <hr>
              <ul class="list-unstyled activity-leval">
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
                <nb-icon icon="star"></nb-icon>
              </ul>
              <div class="counter-block m-t-10">
                <button nbButton fullWidth size="large" shape="round" status="success">View Profile</button>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
