

<nb-layout>
  <nb-layout-header class="custom-color-menu page-layout">
    <nb-icon icon="menu-2-outline" (click)="collapse()"></nb-icon>
    <app-home-page-header>
      
    </app-home-page-header>
    
  </nb-layout-header>
  <!-- <nb-sidebar responsive=true collapsedBreakpoints="['1200','is']" tag='sideFilterBar'>
  </nb-sidebar> -->
  <nb-sidebar class="page-layout">
    <app-side-bar  responsive=true collapsedBreakpoints="['1200','is']" tag='sideFilterBar'></app-side-bar>
  </nb-sidebar>
  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer> Footer</nb-layout-footer>
</nb-layout>
