nb-layout-column{
  padding: 0rem !important;
}
app-home-page-header{
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-layout{
  box-shadow:0 0.5rem 1rem 0 rgba(44,51,73,.1);
}
