
<h1 id="title" class="title">Add Projects</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="registerProjects()" [formGroup]="projectRegisterForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-project-title">Project Details:</label>
    <input nbInput formControlName = "projectTitle" id="input-project-title" name="projectTitle" placeholder="Project Title" autofocus fullWidth  fieldSize="large">
    <span *ngIf="(fvalue.projectTitle.invalid)  && fvalue.projectTitle.touched || fvalue.projectTitle.dirty">
      <span *ngIf="fvalue.projectTitle.errors?.required" class="caption status-danger">
        Please enter project title.
      </span>
    </span>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-project-location">Project Location:</label>
    <input nbInput formControlName = "projectLocation" id="input-project-location" name="projectLocation" placeholder="Project Location" autofocus fullWidth  fieldSize="large">
    <span *ngIf="(fvalue.projectLocation.invalid)  && fvalue.projectLocation.touched || fvalue.projectLocation.dirty">
      <span *ngIf="fvalue.projectLocation.errors?.required" class="caption status-danger">
        Please enter project location.
      </span>
    </span>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-project-period">Completed Withing months:</label>
    <input nbInput formControlName = "projectPeriod" id="input-project-period" name="projectPeriod" placeholder="Project Period" autofocus fullWidth  fieldSize="large">
    <span *ngIf="(fvalue.projectPeriod.invalid)  && fvalue.projectPeriod.touched || fvalue.projectPeriod.dirty">
      <span *ngIf="fvalue.projectPeriod.errors?.required" class="caption status-danger">
        Please enter project period.
      </span>
    </span>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-project-images">Project budget:</label>
    <input nbInput formControlName = "projectBudget" id="input-project-budget" name="projectBudget" placeholder="Project Budget" autofocus fullWidth  fieldSize="large">
    <span *ngIf="(fvalue.projectBudget.invalid)  && fvalue.projectBudget.touched || fvalue.projectBudget.dirty">
      <span *ngIf="fvalue.projectBudget.errors?.required" class="caption status-danger">
        Please enter project estimated budget.
      </span>
    </span>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-project-images">Please upload project images:</label>
    <app-drag-drop  id="input-project-images" name="projectImages" placeholder="Project Images" autofocus fullWidth  fieldSize="large"></app-drag-drop>
    <span *ngIf="(fvalue.projectPeriod.invalid)  && fvalue.projectPeriod.touched || fvalue.projectPeriod.dirty">
      <span *ngIf="fvalue.projectPeriod.errors?.required" class="caption status-danger">
        Please enter project period.
      </span>
    </span>
  </div>
  
  <button nbButton
          fullWidth
          (click)="addAnotherProject()"
          status="primary"
          size="large"
          [disabled]="submitted || !projectRegisterForm.valid"
          [class.btn-pulse]="submitted">
    Add More Projects
  </button>
  <br>
  <br>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !projectRegisterForm.valid"
          [class.btn-pulse]="submitted">
    Next
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="/auth/login">Log in</a>
</section>

