<div  class="swiper-container p-4" [swiper]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide px-2">
      <img src="https://dummyimage.com/600x400/3366ff/fff" class="img-fluid">
    </div>
    <div class="swiper-slide px-2">
      <img src="https://dummyimage.com/600x400/00b887/fff" class="img-fluid">
    </div>
    <div class="swiper-slide px-2">
      <img src="https://dummyimage.com/600x400/006fd6/fff" class="img-fluid">
    </div>
    <div class="swiper-slide px-2">
      <img src="https://dummyimage.com/600x400/ffaa00/fff" class="img-fluid">
    </div>
    <div class="swiper-slide px-2">
      <img src="https://dummyimage.com/600x400/ff3d71/fff" class="img-fluid">
    </div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
