<nb-card class="project-card">
    <nb-card-header>
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          Project Title
        </div>
      </div>
    </nb-card-header>
    <nb-card-body class="p-0">
      <div class="projects--item">
        <a class=" box-with-photos" routerLink="/">
          <div class="-box-photo-1-of-3">
              <img width="320" height="240" data-pin-media="https://images.homify.com/c_fill,f_auto,h_480,q_auto,w_640/v1572294149/p/photo/image/3244760/01.jpg" src="https://images.homify.com/c_fill,f_auto,h_240,q_auto,w_320/v1572294149/p/photo/image/3244760/01.jpg" srcset="https://images.homify.com/c_fill,f_auto,h_480,q_auto,w_640/v1572294149/p/photo/image/3244760/01.jpg 2x, https://images.homify.com/c_fill,f_auto,h_240,q_auto,w_320/v1572294149/p/photo/image/3244760/01.jpg">
          </div>
          <div class="-box-photo-2-of-3">
              <img width="320" height="240" data-pin-media="https://images.homify.com/c_fill,f_auto,h_480,q_auto,w_640/v1572294152/p/photo/image/3244761/02.jpg" src="https://images.homify.com/c_fill,f_auto,h_240,q_auto,w_320/v1572294152/p/photo/image/3244761/02.jpg" srcset="https://images.homify.com/c_fill,f_auto,h_480,q_auto,w_640/v1572294152/p/photo/image/3244761/02.jpg 2x, https://images.homify.com/c_fill,f_auto,h_240,q_auto,w_320/v1572294152/p/photo/image/3244761/02.jpg">
          </div>
          <div class="-box-photo-3-of-3">
              <img width="320" height="240" data-pin-media="https://images.homify.com/c_fill,f_auto,h_480,q_auto,w_640/v1572294155/p/photo/image/3244762/03.jpg" src="https://images.homify.com/c_fill,f_auto,h_240,q_auto,w_320/v1572294155/p/photo/image/3244762/03.jpg" srcset="https://images.homify.com/c_fill,f_auto,h_480,q_auto,w_640/v1572294155/p/photo/image/3244762/03.jpg 2x, https://images.homify.com/c_fill,f_auto,h_240,q_auto,w_320/v1572294155/p/photo/image/3244762/03.jpg">
          </div>
          <div class="-more-photos-overlay">
              +6
          </div>
        </a>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton fullWidth size="large" shape="round" status="success" [routerLink]="['/professional-page/projectid']">View Prject</button>
    </nb-card-footer>
  </nb-card>
