<div class="header-container">
    <div class="logo-containter">
        <div class="logo pt-2">
          <h1>
            <a href="/" title="urbify Home page">
                <img class="logo-radius" src="../../../../assets/images/logo/urbifyLogo.png">
            </a>
          </h1>
        </div>
    </div>
</div>
<div class="header-container float-right">
  <nb-actions size="medium">
    <nb-action >
        <a class="professional-login-font" [routerLink]="['/auth/login']" >Professional Login/Register</a>
    </nb-action>
    <nb-action icon="person-outline"></nb-action>
  </nb-actions>
</div>
