
<h1 id="title" class="title">Enter Your Email</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)= "getEmail()" [formGroup]= "forgotPasswordEmail" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput formControlName="emailId" id="input-email" name="email" placeholder="Email address" fullWidth fieldSize="large" required>
    <div *ngIf="(fvalue.emailId.invalid) && (fvalue.emailId.touched || fvalue.emailId.dirty)">
      <span *ngIf="fvalue.emailId.errors?.required" class="caption status-danger">
        Email name is required!
      </span>
      <span *ngIf="fvalue.emailId.errors?.email" class="caption status-danger">
        Please enter correct emailId
      </span>
    </div>
  </div>


  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]= "submitted || !forgotPasswordEmail.valid"
          [class.btn-pulse]="submitted">
    Reset Password
  </button>
</form>


<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="/auth/login">Log in</a>
</section>
