<section class="header-bg">
  <div class="container-fluid margins" style="background: rgba(0, 123, 255, .8) url('https://www.designesia.com/themes/archi-main/images/background/bg-4.jpg') no-repeat center center fixed; height: 500px;"></div>
  <div class="layer"></div>
</section>
<section class="professional-profile">
  <div class="container">
    <nb-card class="professional-card">
      <nb-card-body class="p-0">
        <div class="d-flex justify-content-center">
          <img class=" img-fluid professional-img mx-auto" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
        </div>
        <div class="text-center">
          <h3 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h3>
          <span>Interior designer</span>
        </div>
        <nb-actions class="mt-4 mx-auto" fullWidth size="medium">
          <nb-action class="d-flex flex-column h-25" routerLink="/professional-page">
            <nb-icon icon="info-outline"></nb-icon>
            <h6>Overview</h6>
          </nb-action>
          <nb-action class="d-flex flex-column h-25" routerLink="/professional-page">
            <span>10</span>
            <h6>Projects</h6>
          </nb-action>
          <nb-action class="d-flex flex-column h-25" routerLink="/professional-page">
            <nb-icon icon="star"></nb-icon>
            <h6>Reviews and comments</h6>
          </nb-action>
          <nb-action class="d-flex flex-column h-25" routerLink="/professional-page">
            <nb-icon icon="phone-call-outline"></nb-icon>
            <h6>Contact me</h6>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </div>
</section>
<router-outlet></router-outlet>
