<div class="container">
    <nb-card class="project-card">
      <nb-card-header>
        <span>Project</span>
        <h3>Office Partition Walls</h3>
      </nb-card-header>
      <nb-card-body class="p-0">
        <app-project-image-slider></app-project-image-slider>
        <div class="p-4">
          <div class="project-discription">
              <div class="inner-content">
                  <p>Idea of denouncing pleasures and praising pain was born will give you a com-pleted account system, and expound the actual teachings of the great explorer of the truth, the master builder of human happiness. No one rejects,
                      dislikes, or avoids pleasure itself, because it is pleasure.</p>
                  <div class="bottpm-text">
                      <p>Because those who do not know how pursue, Complete account that all system, expound the actual teachings of the great explorer of the truth,</p>
                  </div>
                  <ul>
                      <li>Nam libero tempore, cum soluta</li>
                      <li>Est eligendi optio cumque nihil impedit quo</li>
                      <li>Omnis dolor repellendus temporibus autem </li>
                  </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-6">
                <nb-card class="project-details">
                  <div class="icon-container">
                    <div class="icon status-primary">
                      <nb-icon icon="map-outline"></nb-icon>
                    </div>
                  </div>
                  <div class="details">
                    <div class="title h6">Location</div>
                    <div class="paragraph-2">New York United States</div>
                  </div>
                </nb-card>
              </div>
              <div class="col-6 col-md-6">
                <nb-card class="project-details">
                  <div class="icon-container">
                    <div class="icon status-primary">
                      <nb-icon icon="recording-outline"></nb-icon>
                    </div>
                  </div>
                  <div class="details">
                    <div class="title h6">Square Meters</div>
                    <div class="paragraph-2">452,65m<sup>2</sup></div>
                  </div>
                </nb-card>
              </div>
              <div class="col-6 col-md-6">
                <nb-card class="project-details">
                  <div class="icon-container">
                    <div class="icon status-primary">
                      <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                    </div>
                  </div>
                  <div class="details">
                    <div class="title h6">Project Year</div>
                    <div class="paragraph-2">2 months</div>
                  </div>
                </nb-card>
              </div>
              <div class="col-6 col-md-6">
                <nb-card class="project-details">
                  <div class="icon-container">
                    <div class="icon status-primary">
                      $
                    </div>
                  </div>
                  <div class="details">
                    <div class="title h6">Price Value</div>
                    <div class="paragraph-2">$65m</div>
                  </div>
                </nb-card>
              </div>
              <div class="col-6 col-md-6">
                <nb-card class="project-details">
                  <div class="icon-container">
                    <div class="icon status-primary">
                      <nb-icon icon="people-outline"></nb-icon>
                    </div>
                  </div>
                  <div class="details">
                    <div class="title h6">Project Head</div>
                    <div class="paragraph-2">Mr. John Meckency</div>
                  </div>
                </nb-card>
              </div>
              <div class="col-6 col-md-6">
                <nb-card class="project-details">
                  <div class="icon-container">
                    <div class="icon status-primary">
                      <nb-icon icon="recording-outline"></nb-icon>
                    </div>
                  </div>
                  <div class="details">
                    <div class="title h6">Square Meters</div>
                    <div class="paragraph-2">452,65m<sup>2</sup></div>
                  </div>
                </nb-card>
              </div>
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
