
    <p>Filters and sorters</p>
    <div class="filter-box">
        Ratings
            <nb-radio-group  [(value)]= "selectedRating" name= "star-radio-group">
                <nb-radio value="1">4 stars and up</nb-radio>
                <nb-radio value="2">3 stars and up</nb-radio>
                <nb-radio value="3">2 stars and up</nb-radio>
                <nb-radio value="4">1 star and up</nb-radio>
              </nb-radio-group>
    </div>

    <div class="filter-box">
        Sort by
              <nb-radio-group  [(value)]= "selectedSorter" name="my-radio-group2">
                <nb-radio value="5">Newest first</nb-radio>
                <nb-radio value="6">Most popular</nb-radio>
                <nb-radio value="7">Budget High to Low</nb-radio>
                <nb-radio value="8">Budget low to hight</nb-radio>
              </nb-radio-group>
    </div>

    <div class="filter-box">
        Professional
              <nb-radio-group  [(value)]= "selectedProfessional" name="my-radio-group3">
                <nb-radio value="10">Interior Designers</nb-radio>
                <nb-radio value="11">Architects</nb-radio>
                <nb-radio value="12">Vendors</nb-radio>
                <nb-radio value="13">Carpenters</nb-radio>
              </nb-radio-group>

    </div>


